<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Bem-vindo ao Sistema de Agendamento Médico</h1>
  <p>Escolha uma opção abaixo para navegar:</p>
  <ul>
    <li><a href="/pessoas">Listar Pessoas</a></li>
    <li><a href="/pessoas/novo">Cadastrar Nova Pessoa</a></li>
    <li><a href="/medicos">Listar Médicos</a></li>
    <li><a href="/medicos/novo">Cadastrar Médico</a></li>
    <li><a href="/agendamento">Agenda do Administrador</a></li>
  </ul>
</body>
</html>
